{{#each}}

    <article>

        {{#if featured_image}}
                <img class="featured-image" {{bind-attr src=featured_image.source }}>
        {{/if}}

        <div>

            <h1>{{title}}</h1>

            <div>
                {{{content}}}
            </div>

            <img {{bind-attr src=author.avatar }}>

            {{author.nickname}}
            <time>{{date}}</time>

        </div>
        
    </article>
    
{{/each}}

{{#if loadingMore}}
    {{ajax-loader}}
{{/if}}

{{#each row in comments}}
    
    {{row.content}}

{{/each}}