{{#each}}

    <article>

        {{#if thumbnail_images}}
                <img class="featured-image" {{bind-attr src=thumbnail_images.full.url}}>
        {{/if}}

        <div>

            {{!-- <h1>{{title}}</h1> --}}

            <div>
                {{{content}}}
            </div>

{{!--             <img {{bind-attr src=author.avatar }}>

            {{author.name}}
            <time>{{date}}</time> --}}

        </div>
        
    </article>
    
{{/each}}

{{!-- {{#if loadingMore}}
    {{ajax-loader}}
{{/if}} --}}

{{!-- {{#each row in comments}}
    <div class="comment-list-item">
        
        
        <img {{bind-attr src=row.author.avatar }}>
        {{row.author.name}}
        <time>{{row.date}}</time>

        {{{row.content}}}
    </div>
{{/each}} --}}