<canvas id="canvas-background"></canvas>

<header>
    
    <span id="ham" {{action 'toggleMenu'}}></span>

    <nav id="logIn">
        <ul>
                <a><li {{action 'openModal' 'signup' 'validation'}}>Sign Up</li></a>
                <a><li {{action 'openModal' 'signin' 'validation'}}>Sign In</li></a>
        </ul>
    </nav>

    <form>
        <input type="checkbox" id="search-btn" >
        <label id="search" for="search-btn" onclick></label>
        {{input placeholder="Search..." }}
    </form>

    <nav role="off-canvas" >
        <ul>
            {{#each row in pages}}
                {{#link-to 'page' row.id}} <li class="icon-uniF015" {{action 'toggleMenu'}}  >{{row.title}}</li> {{/link-to}}
            {{/each}}

            {{#link-to 'portfolio' }} <li class="icon-uniF1D0" {{action 'toggleMenu'}} >Portfolio</li> {{/link-to}}
            {{#link-to 'experiments' }} <li class="icon-uniF0C3" {{action 'toggleMenu'}} >Experiments</li> {{/link-to}}
            {{#link-to 'posts' }} <li class="icon-uniF19D" {{action 'toggleMenu'}} >Resume</li> {{/link-to}}
            {{#link-to 'posts' }} <li class="icon-uniF1EA" {{action 'toggleMenu'}} >Blog</li> {{/link-to}}
            {{#link-to 'posts' }} <li class="icon-uniF17C" {{action 'toggleMenu'}} >Tux Heads</li> {{/link-to}}
        </ul>
    </nav>
</header>

<div id="closeMenus" {{action 'closeMenu'}} >
<main role="main" >
    <div class="content-wrapper">
        {{outlet 'centercontent'}}
    </div>
</main>
</div>

{{outlet modal}}
{{outlet loading}}