<header>

    <input type="checkbox" id="menu" checked>
    <label for="menu" onclick></label>

    <nav id="logIn">
        <ul>
                <a><li {{action 'openModal' 'signup' 'validation'}}>Sign Up</li></a>
                <a><li {{action 'openModal' 'signin' 'validation'}}>Sign In</li></a>
        </ul>
    </nav>

    <nav role="off-canvas" >
        <ul>
            {{#each row in pages}}
                {{#link-to 'page' row.id}} <li>{{row.title}}</li> {{/link-to}}
            {{/each}}

            {{#link-to 'posts' }} <li>Blog</li> {{/link-to}}
        </ul>
    </nav>

</header>

<main role="main" >
    <div class="content-wrapper">
        <div class="content-overlay"></div>
        {{outlet 'centercontent'}}
    </div>
</main>
{{!-- 
{{google-map classNames="map-canvas" latitude="40.7142700" longitude="-74.0059700"}} --}}
<footer class="site-footer">
    <p>I'm the Sticky Footer.</p>
</footer>

{{outlet modal}}
{{outlet loading}}