<header>

<input type="checkbox" id="menu" checked>
<label for="menu" onclick>Menu</label>

<nav>
    <ul>
            <a><li {{action 'openModal' 'signup' 'validation'}}>Sign Up</li></a>
            <a><li {{action 'openModal' 'signin' 'validation'}}>Sign In</li></a>
    </ul>
</nav>

    <nav role="off-canvas" >
        <ul>
            {{#each row in pages}}
                {{#link-to 'page' row.id}} <li>{{row.title}}</li> {{/link-to}}
            {{/each}}

            {{#link-to 'posts' }} <li>Blog</li> {{/link-to}}
        </ul>
    </nav>

</header>

<main role="main" >
    {{outlet 'centercontent'}}
</main>


<footer class="site-footer">
    <p>I'm the Sticky Footer.</p>
</footer>

{{outlet modal}}
{{outlet loading}}